table {
  width: 100%;
  .mat-mdc-header-cell {
    font-weight: bold;
    background: black;
    color: white;
  }
}

.mat-mdc-form-field {
  width: 30%;
}

.flex-container {
  display: flex;
  justify-content: space-between;

}
