<div class="flex flex-column gap-1">
  <h1>
    Cadastro de Funcionário
  </h1>

  <form [formGroup]="formGroup">
    <div class="flex flex-column gap-3 mb-4">
      <mat-form-field>
        <mat-label>Nome</mat-label>
        <input matInput type="text" formControlName="name" appAutofocus required>
        <mat-error>Campo Inválido</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Registro</mat-label>
        <input matInput type="text" formControlName="registraction" required>
        <mat-error>Campo Inválido</mat-error>
      </mat-form-field>
    </div>

    <button mat-flat-button class="btn-default" id="save" type="submit"
            (click)="saveOrUpdate()"
            [disabled]="!formGroup.valid">
      Salvar Funcionário

    </button>

  </form>

</div>
